nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
ul{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
ul li{
  padding: 10px;
}
.Link{
  text-decoration: none;
  color: #333333;
}
nav button{
  background-color: #F4CE14;
  padding: 10px 15px;
  color: #333333;
  border: none;
  border-radius: 8px;
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  color: white;
  background-color: #333333;
  height: 300px;
}
.hero h1{
  font-size: 2.8rem;
}
.hero button{
  background-color: #F4CE14;
  padding: 10px 15px;
  color: #333333;
  border: none;
  border-radius: 8px;
}
.specials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  color: #333333;
}
.special{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  column-gap: 650px;
}
.specials button{
  background-color: #F4CE14;
  padding: 10px 15px;
  color: #333333;
  border: none;
  border-radius: 8px;
}
.specials h1{
  font-size: 2.8rem;
}
.testmonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #333333;
  margin-top: 100px;
  height: 500px;
}

.Cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.booking{
  background-image: url('./assets/icons_assets/restaurant.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.booking input{
 padding: 10px;
 background-color: transparent;
 border-radius: 5px;
 border: 1px solid #ccc;
 color: white;

}
.booking select{
  padding: 10px;
 background-color: transparent;
 border-radius: 5px;
 border: 1px solid #ccc;
 color: white;
 background-color: #333333;
}
.booking button{
  padding: 15px;
  background-color: white;
  color: #333333;
  border-radius: 10px;
  border: none;
}
.booking label{
  color: #F4CE14;
  font-size: 1.2rem;
  text-align: center;
}
.forrm{
  background-color: #333333;
  padding: 10px;
  width: 100%; 
  border-radius: 10px; 
}